
@{
    ViewBag.Title = "ErrorValidationPhone";
    Layout = "~/Views/Shared/_LayoutTeo.cshtml";
}

<h2>Validation Error</h2>

<i>The phone number must contain only numbers</i>
<br>
<br>

<input type="button" value="Try again" onclick="location.href='@Url.Action("Add", "ContactUs")' " />

