@model TheAMTeam.Business.Models.ContactModel
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_LayoutTeo.cshtml";
}

<h1>Edit the contact's info</h1>

@using (Html.BeginForm("EditContactUs", "EditContactUs", FormMethod.Post))
{
    <div>
        <label>Name</label>
        @Html.TextBoxFor(x => x.Name)
    </div>
    <div>
        <label>Phone Number</label>
        @Html.TextBoxFor(x => x.Phone)
    </div>
    <div>
        <label>Department</label>
        @Html.TextBoxFor(x => x.Department.Name)
    </div>
    <div>
        <label>User's message</label>
        @Html.TextBoxFor(x => x.UserMessage)
    </div>

    <br>
    <input type="submit" value="Submit form" />
}

