@model IEnumerable<TheAMTeam.Business.Models.ArticleBussinessModel>
@{

    Layout = "/Views/Shared/_LayoutArticle.cshtml";
}


<h2>Article</h2>

@*<input type="button" value="Add new article" onclick="location.href='@Url.Action("Add", "Article")'" />*@

@foreach (var field in Model)
{
    
    <div>
        @field.Title
        @Html.ActionLink("Edit", "Edit", "Article", new { id = field.ArticleId }, null)
        @Html.ActionLink("Delete", "Delete", "Article", new { id = field.ArticleId }, null)

    </div>
}










