@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<body>
    <div class="col-xl-12 col-lg-12">
        <div class="flexslider">

            <ul class="slides">
                <li>
                    <img src="~/images/chelsea2.jpg">
                    <div class="meta">
                        <h1>Lorem ipsum dolor sit amet, consectetur.</h1>
                        <h2>Lorem ipsum dolor sit.</h2>
                        <div class="category">
                            <p>Champions League</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="~/images/chelsea1.jpg">
                    <div class="meta">
                        <h1>Lorem ipsum dolor sit amet, consectetur.</h1>
                        <h2>Lorem ipsum dolor sit.</h2>
                        <div class="category">
                            <p>World Cup</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="~/images/chelsea2.jpg">
                    <div class="meta">
                        <h1>Lorem ipsum dolor sit amet, consectetur.</h1>
                        <h2>Lorem ipsum dolor sit.</h2>
                        <div class="category">
                            <p>Champions League</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="~/images/chelsea1.jpg">
                    <div class="meta">
                        <h1>Lorem ipsum dolor sit amet, consectetur.</h1>
                        <h2>Lorem ipsum dolor sit.</h2>
                        <div class="category">
                            <p>World Cup</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.2.0/jquery.flexslider-min.js"></script>
        <script>
                     $('.flexslider').flexslider({
                    //animation: "slide",
                    controlNav: false
                });
        </script>
    </div>
</body>

