@model TheAMTeam.Business.Models.TeamModel
@{
    ViewBag.Title = "Teams";
    Layout = "~/Views/Shared/_/TeamLayout.cshtml";
}
<h2>Add Team</h2>

@using (Html.BeginForm("AddTeamPostMethod", "Team", FormMethod.Post))
{
    <div>
        <label>Name</label>
        @Html.TextBoxFor(x => x.Name)
    </div>
    <div>
        <label>City</label>
        @Html.TextBoxFor(x => x.City)
    </div>
    <div>
        <label>Coach</label>
        @Html.TextBoxFor(x => x.Coach)
    </div>

    <input type="submit" value="Submit form" />
}