@model  IEnumerable<TheAMTeam.Business.Models.PlayerBusinessModel>

@{
    ViewBag.Title = "GetPlayerById";
}

<h2>GetPlayerById</h2>

@foreach (var player in Model)
{
    <div>
        @player.Name
        @Html.ActionLink("Edit Player", "EditPlayer", "Player", new { id = player.PlayerId }, null)
    </div>
}
