li{
    display: inline-block;
    flex-wrap: wrap;
    padding-left:0;
    padding-bottom: 0;
    list-style: none;
}

header{
    background-repeat: no-repeat;
    width: 100%;
}

body {
    /*background-image: url("green.jpg")*/
}

img{
    height: 500px;
    width: 1200px;
}

ul{
    padding: 25px;
}

.flexslider {
    width: 1300px;
    margin: 0 auto;
    box-shadow: none;
}

.flexslider li {
    position: relative;
}

.flexslider li .meta {
    position: absolute;
    bottom: 20px;
    left: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
}

.flexslider li h1 {
    background: rgba(51, 51, 51, 0.5);
    padding: 12px 18px 12px;
    margin-bottom: 0;
    font-size: 1.8em;
    font-weight: 300;
}

.flexslider li h2 {
    background: rgba(51, 51, 51, 0.5);
    padding: 13px 18px 11px;
    font-size: 1.1em;
    margin-bottom: 0;
    font-weight: 300;
}

.flexslider li .category {
    display: flex;
    flex-direction: row;
}

.flexslider li .category p {
    background: #3d5faf;
    margin-right: 7px;
    font-size: 1em;
    padding: 10px;
    font-weight: 900;
}

.flexslider li .category span {
    background: #3d5faf;
    margin-top: 17px;
    padding: 10px;
    font-size: 0.9em;
    font-weight: 500;
    height: 26px;
}




  