@model TheAMTeam.Business.Models.CompetitionTypeModel

@{
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<h1>Add Competition </h1>

@using (Html.BeginForm("AddCompetition", "Competition", FormMethod.Post))
{
    <div>
        <label>Id</label>
        @Html.TextBoxFor(x => x.CompetitionTypeId)
    </div>

    <div>
        <label>Name</label>
        @Html.TextBoxFor(x => x.Name)
    </div>

    <div>
        <input type="submit" value="Submit form" /> <button onclick="goBack()">Go Back</button>
    </div>
  
}
    <link rel="stylesheet" type="text/css" href="style.css">