@model TheAMTeam.Business.Models.CompetitionTypeModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Competition </h1>

@using (Html.BeginForm("AddCompetition", "Competition", FormMethod.Post))
{
    <div>
        <label>Id</label>
        @Html.TextBoxFor(x => x.CompetitionTypeId)
    </div>

    <div>
        <label>Name</label>
        @Html.TextBoxFor(x => x.Name)
    </div>


    <input type="submit" value="Submit form" />
}