@model TheAMTeam.Business.Models.CompetitionTypeModel

@{
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<h1>Edit Competition </h1>

@using (Html.BeginForm("EditCompetition", "Competition", FormMethod.Post))
{
    <div>
        <label>Id</label>
        @Html.TextBoxFor(x => x.CompetitionTypeId)
    </div>

    <div>
        <label>Name</label>
        @Html.TextBoxFor(x => x.Name)
    </div>

    <div>
        <p>
            <input type="submit" value="Submit form" /><button onclick="goBack()">Go Back</button>
        </p>
    </div>

}
<link rel="stylesheet" type="text/css" href="style.css">
