@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Competition</h2>

<p>
    @Html.ActionLink("Vrei sa vezi lijile?", "GetAll", "Competition")
</p>
<p>
    @Html.ActionLink("Vrei sa baji o liga?", "AddComp", "Competition")
</p>