@{
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<h2>Competition</h2>

<p>
    <input type="button" value="See Competitions" onclick="location.href='@Url.Action("GetAll","Competition")'" />
</p>
<p>
    <input type="button" value="Add Competition" onclick="location.href='@Url.Action("AddComp","Competition")'" />
</p>

@*<form action="http://localhost:49705/Competition/GetAll">
          <input type="submit" value="See Competitions" />
    </form>*@

@*@Html.ActionLink("Apasa pentru a vedea ligile!", "GetAll", "Competition")*@

@*<form action="http://localhost:49705/Competition/AddComp">
        <input type="submit" value="Add Competition" />
    </form>*@


@*@Html.ActionLink("Apasa pentru a adauga o liga noua!", "AddComp", "Competition")*@