@{
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<h2>Competition</h2>

<p>
    @Html.ActionLink("Apasa pentru a vedea ligile!", "GetAll", "Competition")
</p>
<p>
    @Html.ActionLink("Apasa pentru a adauga o liga noua!", "AddComp", "Competition")
</p>