@model TheAMTeam.Business.Models.CompetitionTypeModel
@{
    Layout = "~/Views/Shared/CompetitionLayout.cshtml";
}
<h2>Competition</h2>
<p>
    <form action="/Competition/GetAll" method="get">
        <input type="submit" value="See Competitions" />
    </form>
</p>
<p>
    <form action="/Competition/AddComp" method="get">
        <input type="submit" value="Add Competition" />
    </form>
</p>
<p>
    <form action="/" method="get">
        <input type="submit" value="Back to Main Page" />
    </form>
</p>